@import "uclasses.css";
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

body {
    height: 100vh;
    padding: 0;
    margin: 0;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 10% 30%;
}

.container {
    width: 375px;
    border: 0;
    border-radius: 10px;
    background-color: white;
    box-shadow:
        2.2px 2.3px 2.7px rgba(0, 0, 0, 0.109),
        5.6px 5.9px 6.9px rgba(0, 0, 0, 0.14),
        11.3px 12.1px 14.2px rgba(0, 0, 0, 0.16),
        23.4px 24.8px 29.2px rgba(0, 0, 0, 0.176),
        64px 68px 80px rgba(0, 0, 0, 0.19);

}

.section-separator::before {
    content: "";
    display: inline-flex;
    flex-wrap: nowrap;
    top: 1.75rem;
    margin-right: .5rem;
    position: relative;
    height: 1px;
    width: 100%;
    background: black;
}

.section-separator::after {
    content: "";
    display: inline-flex;
    flex-wrap: nowrap;
    top: 1.75rem;
    margin-left: .5rem;
    position: relative;
    height: 1px;
    width: 100%;
    background: black;
}

header {
    margin: 0;
    justify-content: space-around;
}

header h1 {
    font-weight: bold;
    text-transform: uppercase;
}

header > img {
    width: 2.5rem;
    margin: .5rem
}

main {
    margin-inline: auto;
}

main div h2 {
    margin-block: 0;
    font-size: 2.5rem;
    font-weight: bold;
}

main > * {
    margin: 1rem;
}

form div > label {
    margin-bottom: .5rem;
    display: inline-block;
    width: 100%;
    text-align: left;
    align-content: center;
}

form div > label img {
    width: 1rem;
}

form div > label input,
form div > label select {
    width: 60%;
    float: right;
    border: 1px solid black;
    border-radius: 4px;
    padding: .2rem;
}

form div > label select {
    width: 62.5%;
}

main.result p {
    text-align: center;
}

main button {
    width: 60%;
    margin-inline: auto;
    font-size: 30px;
    border-width: 3px;
    border-image:
        linear-gradient(to top left, 
        purple 20%, blue, transparent 50%);
    border-image-slice: 1;
    background-color: #68d7ff;
    transform: skewX(-20deg);
    color: white; 
}

main > button div {
    transform: skewX(20deg);
}

.result > button {
    margin-inline: auto;
}