@import "uclasses.css";

body {
    padding: 0;
    margin: 0;
    font-size: 18px;
}

header {
    margin: 0;
    width: 320px;
    margin-inline: auto;
    text-align: center;
    border: 4px solid green;
    margin-block-end: 1rem;
}

header h1 {
    font-weight: bold;
    text-transform: uppercase;
}

header h1 > span {
    color: green;

}

main {
    width: 320px;
    margin-inline: auto;
    border: 4px solid green;
}

main > * {
    margin: 1rem;
}

form div > label {
    margin-bottom: .5rem;
    display: inline-block;
    width: 100%;
    text-align: left;
}

form div > label input,
form div > label select {
    width: 60%;
    float: right;
}

form div > label select {
    width: 62.5%;
}

main.result p {
    text-align: center;
}

main button {
    width: 60%;
    margin-inline: auto;
    font-size: 30px;
    background-color: limegreen;
    border: 4px solid lime;
    
}

.result > button {
    margin-inline: auto;
}